<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="/">KONVERTOR</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/valute">Valuta</span></a>
            </li>
            <li class="nav-item ">
                &nbsp;|&nbsp;
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/duzina">Dužina</a>
            </li>
            <li class="nav-item ">
                &nbsp;|&nbsp;
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/snaga">Snaga</span></a>
            </li>

        </ul>
        <a class="navbar-brand" href="#" style="visibility: hidden;">KONVERTOR</a>
    </div>
</nav>
<div class="container sadrzaj">
    <div class="row justify-content-center my-5">
        <img src="/images/strelica.png" class="arrow up" width="270px" height="110px">
    </div>
    <div class="row justify-content-center my-5">
       <p class="pocetnatext">Za početak izaberite koji tip konvertora želite</p>
    </div>
    <div class="row justify-content-center my-5 odvoji">
        <div class="col-sm mb-5" style="text-align: center"><img src="/images/1.png" height="140px" width="300px"></div>
        <div class="col-sm mb-5" style="text-align: center"><img src="/images/2.png" height="140px" width="300px"></div>
        <div class="col-sm mb-5" style="text-align: center"><img src="/images/3.png" height="140px" width="300px"></div>
    </div>
</div>

<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#"> Strahinja Milošević </a>
    </div>
    <!-- Copyright -->

</footer>


<script type="text/javascript" src="/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
</body>

</html>